<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-8">
    <div class="mx-auto max-w-3xl bg-white mt-12 py-4 px-8 shadow sm:rounded-lg sm:px-10">
       <%= form_with url: board_board_users_path(@board), scope: nil, local: true, class: "space-y-8 divide-gray-200" do |form| %>
            <div class="space-y-8 divide-y divide-gray-200">
                <div>
                    <div class="mb-8">
                        <h3 class="font-black text-lg font-medium leading-6 text-gray-900">Quadro de Tarefas: <%= @board.name %></h3>
                        <h3 class="text-lg font-medium leading-6 text-gray-900 mt-8 border-t border-gray200">Lista de Membros</h3>
                        <p class="mt-1 text-sm text-gray-500">Este formúlario adiciona ou remove membros deste quadro de tarefas.</p>
                    </div>
                    <fieldset>
                        <legend class="font-black text-lg font-medium text-gray-900">Membros Cadastrados</legend>
                        <div class="mt-4 divide-y divide-gray-200 border-t border-b border-gray-200">
                            <% User.find_each do |user| %>
                                <div class="relative flex items-start py-2">
                                    <div class="min-w-0 flex-1 text-sm">
                                        <%= form.label :user_ids, class: "select-none font-medium text-gray-700" do %>
                                            <%= user.email %>
                                        <% end %>
                                    </div>
                                    <div class="ml-3 flex h-5 items-center">
                                        <%= form.check_box :user_ids, {  class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500", multiple: true, checked: @board.members.include?(user), disabled: @board.user == user }, user.id %>
                                    </div>
                                </div>
                            <% end %>
                        </div>                    
                    </fieldset>
                </div>                  
            </div>

            <div class="pt-5">
                <div class="flex justify-end">
                    <%= link_to "Cancelar", board_path(@board.id), class: "cursor-pointer rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-black shadow-sm hover:bg-red-500 hover:text-white focus:outline-none focus-ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
                    <%= form.submit "Salvar Alterações", class: "cursor-pointer ml-3 inline-flex justify-center rounded-md border border-transparent bg-green-600 py-2 px-4 text-sm font-mediu text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2" %>
                </div>
            </div>
        <% end %>
    </div>
</div>